* {
    font-family: kanit, sans-serif;
}

body{
    background-color: red;
    display: flex;
}

.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-bottom: solid 1px black;
    width: 20%;
    border: 1px solid black;
    border-radius: 20px;
}


#pokedex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    border: solid black 1px;
    border-radius: 20px;
    width: 120px;
    text-align: center;
}